{% extends 'base.html' %}

{% block contenido %}
<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card shadow">
            <div class="card-header bg-danger text-white text-center">
                <h4>Registro de Cliente</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-grid gap-2 mt-3">
                        <button type="submit" class="btn btn-danger">Registrarse</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}